<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Sign Up - CodeJava</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script th:src="@{/resources/pwstrength.js}"></script>
</head>
<body>
<div class="container text-center">
    <div style="margin: 60px 0">
        <h1>Sign Up</h1>
    </div>
    <form th:action="@{registration/process_register}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">

            <div class="form-group row" style="margin: 20px">
                <label class="col-4 col-form-label">First name: </label>
                <div class="col-8">
                    <label>
                        <input id="firstName" type="text" th:field="*{firstName}" class="form-control" required />
                    </label>
                </div>
            </div>

            <div class="form-group row" style="margin: 20px">
                <label class="col-4 col-form-label">Surname: </label>
                <div class="col-8">
                    <label>
                        <input id="lastName" type="text" th:field="*{surname}" class="form-control" required />
                    </label>
                </div>
            </div>

            <div class="form-group row" style="margin: 20px">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <label>
                        <input id="password" type="password" name="password" th:field="*{password}" class="form-control"
                               required minlength="1" maxlength="10"/>
                    </label>
                    <span id="passwordError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
            </div>

            <div class="form-group row" style="margin: 20px">
                <label class="col-4 col-form-label">Password again: </label>
                <div class="col-8">
                    <label>
                        <input id="matchPassword" name="matchingPassword" type="password" th:field="*{matchingPassword}" class="form-control"
                               required minlength="1" maxlength="10"/>
                    </label>
                    <span id="globalError" class="alert alert-danger col-sm-4" style="display:none;
                            position: absolute; width: 300px; height: 40px; text-align: center; margin-left: 15px; padding-top: 7px;" ></span>
                </div>
            </div>

            <div class="form-group row" style="margin: 20px">
                <label class="col-4 col-form-label">E-mail: </label>
                <div class="col-8">
                    <label>
                        <input id="email" type="email" th:field="*{email}" class="form-control" required />
                    </label>
                </div>
            </div>

            <div class="form-group row" style="margin: 20px">
                <label class="col-4 col-form-label">Telephone: </label>
                <div class="col-8">
                    <label>
                        <input type="text" th:field="*{mobile}" class="form-control" required />
                    </label>
                </div>
            </div>

            <div class="form-group row" style="margin: 20px">
                <label class="col-4 col-form-label">Choose role: </label>
                <div class="col-8">
                    <select th:field="*{role}" name="role" id="role" class="form-select" aria-label="Default select example" style="max-width: 206px; margin-left: 62px">
                        <option value="copywriter">Copywriter</option>
                        <option value="client">Client</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary" style="margin-top: 30px">Sign Up</button>
            </div>
        </div>
    </form>
</div>

<script th:inline="javascript">
    var serverContext = [[@{/}]];

        $(document).ready(function () {

            $(":password").keyup(function(){
                if($("#password").val() != $("#matchPassword").val()){
                    $("#globalError").show().html("password doesn't match");
                }else{
                    $("#globalError").html("").hide();
                }
            });

            $('#password').pwstrength(options);
        });
</script>

</body>
</html>